:root {
    --fuentePrincipal:'Open Sans', sans-serif;
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    background: beige;
 }
    
    
h1{
    text-align: center;
    font-family: var(--fuentePrincipal);
    color: beige;
    

}

.principal{
    background: rgb(182, 100, 168);
    width: 60%;
    height: 70px;
    border-radius: 12px;
    margin: 100px 250px;
    
    
    

}