*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    
}

.card{
    position: relative;
    width: 300px;
    height: 350px;
    cursor: pointer;
}
.face {
    position: absolute;
    width:100% ;
    height: 100%;
    backface-visibility:initial;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s;
    
}
.front{
    transform: perspective(600px)rotateY(0deg);
    box-shadow: 0 5px 10px rgb(63, 60, 60);
}
.front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url("https://static.wikia.nocookie.net/studio-ghibli/images/d/db/My_Neighbor_Totoro.jpg");
    background-size: cover;
}

.front h3{
     position:absolute;
     bottom:0 ;
     width: 100%;
     height: 45px;
     line-height: 45px;
     color: bisque;
     background-color: rgb(49, 46, 46);
     text-align: center;
}
.back {
    transform: perspective(600px)rotateY(0deg);
    background: rgb(210, 148, 216) ;
    padding: 15px;
    color:rgb(73, 65, 65);
    flex-direction: column;
    justify-content:space-between;
    text-align: center;
    display: flex;
    border-radius: 15px;

}
.back h3{
    font-size: 18px;
    margin-top: 10px;
    letter-spacing: 5px;
    white-space: 5px;
}

.back p{
    letter-spacing: 1px;
    font-size: 15px;
    

}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}
